.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    
}

.about__me {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary));
    display: grid;
    place-items: center;

}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    font-size: 10rem;
    transition: var(--transition);
    
}

.about__me-image:hover {
    transform: rotate(360deg);
    
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    line-height: 1.6;
    margin-right: 4.5rem;
    

}


/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 20%;
        margin: 2rem auto 4rem;
    }

    .about__me-image {
       
        font-size: 6rem;
    }

    .about__content p {
        margin-right: 0;
    }
}



/* ==================== MEDIA QUERIES (SMALL DEVICES) ==================== */

@media screen and (max-width: 600px) {
    .about__container {
        
    }

    .about__me {
        width: 25%;
        margin: 2rem auto 4rem;
    }

    .about__me-image {
        font-size: 3rem;                      
    }

    .about__content p {
        margin-right: 0;
    }
}